{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>form_user</title>
    <style>
        select:invalid { color: gray; }
    </style>
</head>
<body>
    {% block content %}
    <div class="jumbotron jumbotron-fluid w-100">
        <div class="formnya">
            <form action="/data_kondisi" method="post" align="center" >
            <div class="row">
                <div class="container-sm text-center">
                <table align="center">
                    <tr align="left">
                        <td>Tinggal dengan orang tua</td>
                        <td>:</td>
                        <td>
                            <select name="tinggal_dengan_ortu" class="form-control-sm" id="tinggal_dengan_ortu" selected>
                                <option value="" disabled selected hidden>Select your choice</option>
                                <option value="1">Ya</option>
                                <option value="0">Tidak</option>
                            </select>
                        </td>
                    </tr>
                    <tr align="left">
                        <td>Pernah gapyear sebelum melanjutkan pendidikan</td>
                        <td>:</td>
                        <td>
                            <select name="pernah_gapyear" class="form-control-sm" id="pernah_gapyear" selected>
                                <option value="" disabled selected hidden>Select your choice</option>
                                <option value="1">Pernah</option>
                                <option value="0">Tidak pernah</option>
                            </select>
                        </td>
                    </tr>
                    <tr align="left">
                        <td>Lama gapyear</td>
                        <td>:</td>
                        <td>
                            <input type="text" name="lama_gapyear" label="isi dengan angka">
                        </td>
                    </tr>
                    <tr align="left">
                        <td>Pernah dirawat karena mental illness?</td>
                        <td>:</td>
                        <td>
                            <select name="pernah_dirawat" class="form-control-sm" id="pernah_dirawat" selected>
                                <option value="" disabled selected hidden>Select your choice</option>
                                <option value="1">Pernah</option>
                                <option value="0">Tidak pernah</option>
                            </select>
                        </td>
                    </tr>
                    <tr align="left">
                        <td>Berapa kali anda dirawat karena mental illness?</td>
                        <td>:</td>
                        <td>
                            <input type="text" id="banyak_dirawat" name="banyak_dirawat" label="isi dengan angka">
                        </td>
                    </tr>
                    <tr align="left">
                        <td>Apakah Anda seorang disabled</td>
                        <td>:</td>
                        <td>
                            <select name="disable" class="form-control-sm" id="disable" selected>
                                <option value="" disabled selected hidden>Select your choice</option>
                                <option value="1">Ya</option>
                                <option value="0">Tidak</option>
                            </select>
                        </td>
                    </tr>
                    <tr align="left">
                        <td>Usia</td>
                        <td>:</td>
                        <td>
                            <select name="usia" class="form-control-sm" id="usia" selected>
                                <option value="" disabled selected hidden>Select your choice</option>
                                <option value="0">18-29</option>
                                <option value="1">30-44</option>
                                <option value="2">45-60</option>
                                <option value="3">>60</option>
                            </select>
                        </td>
                    </tr>
                    <tr align="left">
                        <td>Apakah Anda mengalami anxiety?</td>
                        <td>:</td>
                        <td>
                            <select name="anxiety" class="form-control-sm" id="anxiety" selected>
                                <option value="" disabled selected hidden>Select your choice</option>
                                <option value="1">Ya</option>
                                <option value="0">Tidak</option>
                            </select>
                        </td>
                    </tr>
                    <tr align="left">
                        <td>Mengalami depresi</td>
                        <td>:</td>
                        <td>
                            <select name="depresi" class="form-control-sm" id="depresi" selected>
                                <option value="" disabled selected hidden>Select your choice</option>
                                <option value="1">Ya</option>
                                <option value="0">Tidak</option>
                            </select>
                        </td>
                    </tr>
                    <tr align="left">
                        <td>Merasa obessive</td>
                        <td>:</td>
                        <td>
                            <select name="obessive" class="form-control-sm" id="obessive" selected>
                                <option value="" disabled selected hidden>Select your choice</option>
                                <option value="1">Ya</option>
                                <option value="0">Tidak</option>
                            </select>
                        </td>
                    </tr>
                    <tr align="left">
                        <td>Sering mengalami perubahan mood secara tiba-tiba</td>
                        <td>:</td>
                        <td>
                            <select name="mood_swing" class="form-control-sm" id="mood_swing" selected>
                                <option value="" disabled selected hidden>Select your choice</option>
                                <option value="1">Ya</option>
                                <option value="0">Tidak</option>
                            </select>
                        </td>
                    </tr>
                    <tr align="left">
                        <td>Memiliki gangguan kecemasan</td>
                        <td>:</td>
                        <td>
                            <select name="gangguan_kecemasan" class="form-control-sm" id="gangguan_kecemasan" selected>
                                <option value="" disabled selected hidden>Select your choice</option>
                                <option value="1">Ya</option>
                                <option value="0">Tidak</option>
                            </select>
                        </td>
                    </tr>
                    <tr align="left">
                        <td>Merasa menjadi seorang yang compulsive</td>
                        <td>:</td>
                        <td>
                            <select name="compulsive" class="form-control-sm" id="compulsive" selected>
                                <option value="" disabled selected hidden>Select your choice</option>
                                <option value="1">Ya</option>
                                <option value="0">Tidak</option>
                            </select>
                        </td>
                    </tr>
                    <tr align="left">
                        <td>Mudah lelah</td>
                        <td>:</td>
                        <td>
                            <select class="form-control-sm" name="mudah_lelah" id="mudah_lelah" selected>
                                <option value="" disabled selected hidden>Select your choice</option>
                                <option value="0">Ya</option>
                                <option value="1">Tidak</option>
                            </select>
                        </td>
                    </tr>
                    <tr align="left">
                        <td>Susah berkonsentrasi</td>
                        <td>:</td>
                        <td>
                            <select class="form-control-sm" name="susah_konsentrasi" id="susah_konsentrasi" selected>
                                <option value="" disabled selected hidden>Select your choice</option>
                                <option value="0">Ya</option>
                                <option value="1">Tidak</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <button type="submit" class="btn btn-secondary" value="submit">Analisis</button>  
                        </td>
                    </tr>
                </table>
                </div>
            </div>
        </form>
        </div>
    </div>
{% endblock %} 


<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>