<form action="/" method="post" align="center" >
    <div class="form-group">
        <label for="usia">Usia</label>
        <select class="form-control-sm" id="usia">
            <option value="" disabled selected hidden>Select your age range</option>
            <option value="age1">18-29</option>
            <option value="age2">30-44</option>
            <option value="age3">45-60</option>
            <option value="age4">>60</option>
        </select><br>
        <label for="gender">Gender</label>
        <select class="form-control-sm" name="gender" id="gender">
            <option value="" disabled selected hidden>Select your gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br>
        <label for="komp">Memiliki Komputer</label>
        <select class="form-control-sm" name="komp" id="komp">
            <option value="" disabled selected hidden>Select your choice</option>
            <option value="komp_ya">Ya</option>
            <option value="komp_tidak">Tidak</option>
        </select><br>
        <label for="inet">Memiliki akses internet</label>
        <select class="form-control-sm" name="inet" id="inet">
            <option value="" disabled selected hidden>Select your choice</option>
            <option value="inet_ya">Ya</option>
            <option value="inet_tidak">Tidak</option>
        </select><br>
        <label for="mandiri">Tinggal dengan orang tua</label>
        <select class="form-control-sm" name="mandiri" id="mandiri">
            <option value="" disabled selected hidden>Select your choice</option>
            <option value="mandiri_ya">Ya</option>
            <option value="mandiri_tidak">Tidak</option>
        </select>
    </div>  
    <button type="submit" class="btn btn-secondary" value="submit">Submit</button>  
</form>